#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	:

override_dh_auto_install:
	dh_install gpcieuni_drv.c  pcieuni_ioctl_exp.c  pcieuni_remove_exp.c  pcieuni_ufn.c pcieuni_probe_exp.c pcieuni_rw_exp.c pcieuni_buffer.c /usr/src/gpcieuni-1/
	dh_install pcieuni_ufn.h  pcieuni_io.h pcieuni_buffer.h Makefile /usr/src/gpcieuni-1/
	dh_install pcieuni_io.h pcieuni_ufn.h pcieuni_buffer.h /usr/include/
	dh_dkms
